@page "/"

@*Strona początkowa z informacjami o ankiecie*@
<h1>Ocena gotowości społecznej na instalację 24h systemów monitoringu osób starszych w ich miejscach zamieszkania</h1>

<p>Aby wypełnić ankietę należy przejść do zakładki "Ankieta" - Składa się ona z około 20 pytań, a jej wypełnienie zajmuje kilka minut. </p>
<p>
    Kwestionariusz jest całkowicie anonimowy, a jego wyniki posłużą do zrealizowania projektu z przedmiotów Hurtownie i Eksploracja Danych/Rozwój
    Aplikacji Internetowych w Medycynie prowadzonych na kierunku Inżynieria biomedyczna.
</p>
<p>Prosimy o szczere odpowiedzi!</p>
<p>Aby wyświetlić statystyki naszych innych respondentów należy przejść do zakładki "Statystyki"</p>
