@page "/"

<h1>Witam na naszej ankiecie!</h1>

<p>Tematem naszej ankiety jest "Ocena gotowości społecznej na instalację 24h systemów monitoringu osób starszych w ich miejscach zamieszkania".</p>
<p>Aby wypełnić ankiete przejdź do zakładki "Ankieta" - odpowiadaj na wszystkie pytana zgodnie z prawdą!</p>
<p>Jeeli chcesz zobaczyć statystyki naszych innych respondentów przejdź do zakładki "Pie Chart"</p>
