@page "/Statystyki respondentów"
@using BlazorApp1.Data;
@inject IJSRuntime jsRunTime;

<h1>@Info</h1>

<div id="chartdiv"></div>

<button class="btn btn-primary" @onclick="GeneratePieChartBlazor">Wykształcenie</button>
<button class="btn btn-primary" @onclick="SexChart">Płeć</button>
<button class="btn btn-primary" @onclick="AgeChart">Wiek</button>



@code {

    WyksztalcenieInfo wyksztalcenieInfo = new WyksztalcenieInfo();
    List<ChartData> wyksztalcenieInfos = new List<ChartData>();

    SexInfo sexInfo = new SexInfo();
    List<SexData> sexInfos = new List<SexData>();

    AgeInfo ageInfo = new AgeInfo();
    List<AgeData> ageInfos = new List<AgeData>();
    String Info = "Wybierz jaki wykres chcesz zobaczyć";

    private async Task GeneratePieChartBlazor()
    {
        wyksztalcenieInfos = wyksztalcenieInfo.GetData();
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", wyksztalcenieInfos);
        Info = "Wykształcenie";
    }

    private async Task SexChart()
    {
        sexInfos = sexInfo.GetSexData();
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", sexInfos);
        Info = "Płeć";
    }

    private async Task AgeChart()
    {
        ageInfos = ageInfo.GetAgeData();
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", ageInfos);
        Info = "Wiek";
    }

}